.Chat-main
  .Chat-main__right-header
    .Right-header-groups
      .Right-header-groups__group-name
        = @group.name
      %ul.Right-header-groups__group-member
        Member：
        - @group.users.each do |user|
          %li.Right-header-groups__group-member-list
            = user.name
    = link_to edit_group_path(@group) do
      .Right-header-groups__edit-btn
        Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form-box"}, local: true do |f|
      .Form-box__contents
        = f.text_field :body, class: 'Form-box__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form-box__inputImage' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form-box__btn'