.Side-bar
  .Side-bar__left-header
    .Left-header-box
      %h3.Left-header-box__name
        = current_user.name 
      %ul.Left-header-box__icons
        %li.Left-header-box__btn
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.Left-header-box__btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .Side-bar__group-list
    .Group-list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .Group-list__name
            = group.name
          .Group-list__message
            = group.show_last_message